* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

/* ------------------------------------------------------------------- NAVIGATIE----------------------------------------------------------------------------------------------*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

li {
    flex-grow: 1;
    margin: 0 .1em;

}


a {
    background-color: black;
    display: block;
    color: white;
    padding: 1em 4vw;
    text-align: center;
    text-decoration: none;

}

.navbar > li:first-child > a {
    color: black;
    background-color: lightpink;
}

@media screen and (min-width:60em) {
    header {
        /* header blijft zichtbaar bij scrollen op device */
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx NAVIGTIE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* ----------------------------------------------WIE BEN IK HOME -------------------------------------------------------------------------------------------- */

.strong-text {
    font-weight: 700;
    font-size: 2em;
    display: block;
}

.about-row {
    background-color: #ECF0F1;
    width: 80%;
    margin: 6em auto 0 auto;
}

.about-section {
    z-index: 99;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ECF0F1;
}

.about-text {
    font-size: 23px;
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
}

.about-pic {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 300px;
    box-shadow: 0em 0em 0.5em 0.2em rgba(245, 180, 192, 0.68);

}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx WIE BEN IK HOME xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/* -----------------------------------------------------------------------------PORTFOLIO ----------------------------------------------------------------------------------------------- */



/*  Lijstje met portfolio items  */
.portfolio main {
    display: grid;
    grid-gap: 0.5em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;

}

.Sabine {
    max-width: 50%;
}

@media screen and (min-width:24em) {
    .portfolio main {
        grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
        /* Zorgt er voor dat je meerdere kolommen naast elkaar krijgt die altijd passend zijn tot een bepaald formaat, in dit geval 24em */
    }
}

main article img {
    max-width: 20em;
}

article {
    background-color: #ccc;
    padding: .5rem;
}


article:first-child {
    background-color: lightpink;
    transition: .7s;
}

h2 {
    /*    word-break: break-all;*/
    font-family: 'Marck Script', cursive;
    margin: 0 0 1.6rem;
}

p {
    font-weight: normal;

}

.titel {
    font-family: 'Marck Script', cursive;
    margin-left: 0.5em;
    font-size: 4em;
    text-align: center;
}

#link {
    background-color: transparent;
    color: black;
    text-align: left;
    padding: 0;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx PORTFOLIO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*--------------------------------------------------------------------------- DETAIL PAGINA --------------------------------------------------------------------------------------------*/
#artDeco {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

#artDeco p {
    font-size: 18px;
    color: rgba(0, 0, 0, .84);
    line-height: 1.60;
    margin: 30px auto;
}

#artDeco img {
    max-width: 100%;
    display: block;
    position: relative;
    cursor: pointer;

}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx DETAIL PAGINA xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/*-----------------------------------------------------------------------------------------------------CONTACT FORMULIER-------------------------- -------------------------------------------------------*/
button {
    overflow: visible;
}

button,
input,textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

/*
textarea {
    overflow: auto;
}
*/

#container {
    border: dotted 0.3em #474544;
    max-width: 48em;
    margin: 3em auto;
    position: relative;
}

form {
    padding: 2.3em;
    margin: 50px 0;
}

#container h1 {
    color: lightpink;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 5em;
}

.email {
    float: right;
    width: 45%;
}

input[type='text'],[type='email'],
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    box-sizing: border-box;
     transition: all 0.3s;

}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    background-color: lightpink;
    }

.name {
    float: left;
    width: 45%;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    width: 100%;
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;

}

#form_button:hover {
    background: lightpink;
    color: #FFF;
}

@media screen and (max-width: 48em) {
    #container {
        margin: 1em auto;
        width: 95%;
    }
}

@media screen and (max-width: 30em) {
    #container h1 {
        font-size: 1.6em;
    }

    .underline {
        width: 4.250em;
    }

    #form_button {
        padding: 0.938em 1.563em;
    }
}

@media screen and (max-width: 26.250em) {
    #container h1 {
        font-size: 1.125em;
    }

    .underline {
        width: 53px;
    }

    input[type='text'],
    [type='email'],
    textarea {
        font-size: 0.875em;
    }
}

/* --------------------------------------------------------------------------------------------------- FOOTER/CONTACT ------------------------------------------------------------------------------------------------ */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #cccccc;

}


.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    /* omzetten (geen pixel) */
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 1.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    /* omzetten (geen pixel) */
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #696969;
    border-top: 4px solid;
    /* omzetten (geen pixel) */
}

footer > p {
    margin: 2rem;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


@media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}

/* --------------------------------------------------------------------------------------------------- FOOTER/CONTACT ------------------------------------------------------------------------------------------------ */
